.clients{
    list-style-type: none;
    margin: 20px 100px;
    display: flex;
    display: flex;
    flex-flow: nowrap row;
    align-items: center;
    justify-content: space-between;
}
    
    .client__pic {
        display: inline-block;
        width: 106px;
        height: 110px;
        background: url(/img/clients.png) no-repeat;
        margin-bottom: 20px;
    }

    .client__pic_1 {
        background-position: 0 0;
    }

    .client__pic_2 {
        background-position: 0 -110px;
    }

    .client__pic_3 {
        background-position: 0 -220px;
    }

    .client__pic_4 {
        background-position: 0 -330px;
    }
    
    .client__pic_5 {
        background-position: 0 -440px;
    }
    
    .client__pic_6 {
        background-position: 0 -550px;
    }
    

    .clients__header{
        padding-top: 30px;
        padding-bottom: 30px;
        font-weight: bold;
        text-align: center; 
    }
    
