.portfolio {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 80px;
  text-align: center;
}

  .portfolio__img1 {
    display: inline-block;
    background: url(../img/lake.jpg) no-repeat;
    background-size: cover;
    width: 300px;
    height: 254px;
    margin: 0 0 0 0;
  }
  .portfolio__img2 {
    display: inline-block;
    background: url(../img/nature.jpg) no-repeat;
    background-size: cover;
    width: 300px;
    height: 254px;
    margin: 0 0 0 0;
  }
  .portfolio__img3 {
    display: inline-block;
    background: url(../img/tigr.jpg) no-repeat;
    background-size: cover;
    width: 300px;
    height: 254px;
    margin: 0 0 0 0;
  }
  .portfolio__img4 {
    display: inline-block;
    background: url(../img/bridge.jpg) no-repeat;
    background-size: cover;
    width: 260px;
    height: 254px;
    margin: 0 0 0 0;
  }
  
  .portfolio__themes {
    margin-right: 20px;
  }

  .portfolio__pics{
    display: flex;
  	flex-flow: row nowrap;
  	justify-content: center;
  }