.quotation{
	background-color: #212121;
    color: whitesmoke;
	padding: 20px;
	text-align: center;
	margin-top: 20px ;
	margin-bottom: 20px ;
}

.quots_img{
	display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../img/quots.png) no-repeat;
    margin-bottom: 20px;
}


  
