.unicorn{
  padding-top: 70px;
  padding-bottom: 20px;
  background-color: #212121;
  padding-right: 50px;
  padding-left: 50px;
  color: #a5a5a5;
}
  .unicorn__underline{
    color: #a5a5a5;
    background-color: #a5a5a5;
    height: 1px;
    width: 100%;
    margin-top: 4px;
  }
  .unicorn__info{
    margin-bottom: 20px;
  }
  .unicorn__message{
    padding-right: 60px;
  }
  
  .unicorn__message-in{
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #a5a5a5;
  }
  
  .unicorn__title{
    font-size: 14px;
    font-weight: bold;
    position: relative;
    text-transform: none;
    margin-bottom: 0;
    color: white;
  }
  
  .unicorn__main-title{
    font-size: 16px;
    font-weight: bold;
    text-transform: none;
    margin-bottom: 0;
    color: white;
  }
  
  .unicorn__credits {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
  }
    
    
    
